html, body {
  width: 100%;
  height: 100%;
  background-color: black;
}
.rotate {
  width: 70%;
  padding-top: 70%;
  border: 10px solid white;
  animation-duration: 2s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blur {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: white;
  animation-duration: 2s;
  animation-name: blur;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blur {
  from {
    filter: blur(0px);
  }

  to {
    filter: blur(5px);
  }
}

.moveleft-wrapper {
  position: relative;
}

.moveleft {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0px;
  background-color: white;
  animation-duration: 2s;
  animation-name: moveleft;
  animation-iteration-count: infinite;
}

@keyframes moveleft {
  from {
    right: 0%;
  }
  to {
    right: 100%;
  }
}

.scale {
  background-color: white;
  animation-duration: 3s;
  animation-name: scale-up;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes scale-up {
  from {
    width: 20%;
    padding-top: 20%;
  }
  to {
    width: 100%;
    padding-top: 100%;
  }
}

.depth-of-field{
  position: relative;
}
.depth-of-field .circle {
  position: absolute;
  left: 10%;
  bottom: 20%;
  width: 50%;
  padding-top: 50%;
  border-radius: 50%;
  border: 10px solid white;
  animation-duration: 3s;
  animation-name: blur;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.depth-of-field .square {
  position: absolute;
  right: 10%;
  top: 20%;
  width: 60%;
  padding-top: 60%;
  background-color: white;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-name: blur;
  animation-iteration-count: infinite;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  empty-cells: hide;
  display: table;
}

.border {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

tr {
  display: table-row;
}
td {
  width: 6.25%;
  display: table-cell;
  padding: 20px;
}
